<% gratitudes.forEach(function(gratitude){%>
    <% if(gratitude!=null){%>
    <div class="ui container center aligned padded text ">
        <div class="ui text padded center segment attached">
            <form class="ui form" action="/gratitude/<%=gratitude._id%>" method="GET">
                <button class="ui button fluid" style=" background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none">
                    <h3>"I am grateful for <%=gratitude.description %>"</h3>
                    <p><%=gratitude.name.username%></p>
                    <p><%=gratitude.created.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' });%></p>
                </button>
            </form>

        </div>
            <form class="ui form" action="/upvote/<%=gratitude._id%>" method="POST">
                <div class="ui two attached bottom  buttons  ">
                    <button class="ui button"><i class="thumbs up outline icon"></i>       <%= gratitude.upvote %>     </button>
                    <button class="ui button" formaction="/downvote/<%=gratitude._id%>"><i class="thumbs down outline icon"></i>     <%= gratitude.downvote %>   </button>
                </div>
            </form>
        <% include editButtons %>
    </div>
<% }}); %>