<%if(isLoggedIn){ %>
<% include partials/headerLoggedIn %>
<% }if(!isLoggedIn){%>
<% include partials/header %>
<%}%>

    <div class="ui equal width center aligned padded grid">
        <div class="column">
            <h2><%= title %></h2>
        </div>
    </div>    
    <div class="ui secondary pointing ten item stackable menu">
        <a class="<%=sortingActiveItem.today %>" href="/">Today</a>        
        <a class="<%=sortingActiveItem.dateA %>" href="/sort/dateAscend&1">Date +</a>
        <a class="<%=sortingActiveItem.dateD %>" href="/sort/dateDescend&1">Date -</a>
        <a class="<%=sortingActiveItem.upvote %>" href="/sort/upvote&1">Upvote</a>
        <a class="<%=sortingActiveItem.downvote %>" href="/sort/downvote&1">Downvote</a>
        <a class="<%=sortingActiveItem.popularity %>" href="/sort/popular&1">Popularity</a>
    </div>
<div class="ui container ">
    <div class="ui equal width center aligned padded grid">
        <div class="column">
            <% include partials/gratitude %>
        </div>
    </div>
</div>
<div class="ui equal width center aligned padded grid">
    <div class="column">
        <% if (pages > 0) { %>
            <div class="ui pagination menu center aligned">
            <% if (current == 1) { %>
                <a class="item">First</a>
            <% } else { %>
                <a class="item" href="/sort/<%=id%>%>&1">First</a>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <a class="item"><a>...</a></a>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <a class="active item"><%= i %></a>
                <% } else { %>
                    <a class="item" href="/sort/<%=id%>%>&<%= i %>"><%= i %></a>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <a class="item">...</a>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <a class="item">Last</a>
            <% } else { %>
                <a class="item" href="/sort/<%=id%>%>&<%= pages %>">Last</a>
            <% } %>
        <% } %>
        </div>
    </div>
</div>



<% include partials/footer%>