<% include partials/headerLoggedIn %>
<% if(currentUser){%>
<!--<P><%= currentUser %></P>-->
<% } %>
<div class="ui equal width center aligned padded grid">
    <div class="column">
        <h2><%= currentUser.username %></h2>
        <a href="/logout"><p>logout</p></a>
    </div>
</div>

<div class="ui secondary pointing six item stackable menu">
    <a class="<%=sortingActiveItem.details %>" href="/user/sort/details">Details</a>
    <a class="<%=sortingActiveItem.gratitudes %>" href="/user/sort/gratitudes">Gratitudes</a>
    <a class="<%=sortingActiveItem.comments %>" href="/user/sort/comments">Comments</a>
    <a class="<%=sortingActiveItem.upvoted %>" href="/user/sort/upvoted">Upvoted</a>
    <a class="<%=sortingActiveItem.favorites %>" href="/user/sort/favorites">Favorites</a>
</div>
<%if(sortingActiveItem.details == "active item"){%>
<% include ./partials/user/details %>
<%}%>
<%if(sortingActiveItem.gratitudes == "active item"){%>
<% include ./partials/user/submittedGratitudes %>
<%}%>
<%if(sortingActiveItem.comments == "active item"){%>
<% include ./partials/user/submittedComments %>
<%}%>
<%if(sortingActiveItem.upvoted == "active item"){%>
<% include ./partials/user/upvoted %>
<%}%>
<%if(sortingActiveItem.favorites == "active item"){%>
<% include ./partials/user/favorites %>
<%}%>
<% include ./partials/footer %>